* {
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;

}



* button {
    margin-top: 3%;
    background-color: white;
    border-radius: 0.5;
    padding: 2%;
    color: #aaa;
    
}

* p {
    margin-top: 1%;
    opacity: 1.0;
    font-family: 'Noto Sans', sans-serif;
}

* h1 {
    font-family: 'Noto Sans', sans-serif;
}